<!DOCTYPE html>
	<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
		<title>Add Location</title>
    </head>
    <body>
        <form method="POST" action="/addlocation">
            X Co-Ordinate:<br>
            <input type="text" name="xcoord"><br><br>
            Y Co-Ordinate:<br>
            <input type="text" name="ycoord"><br><br>
            Note:<br>
            <textarea name="shortNote"></textarea><br><br>
            <input type="submit" value="Submit"><br><br>
        </form>
        <form method="GET" action="/">
            <button class="button" type="submit" value="Index">Index</button>
        </form>
    </body>
</html>