<!DOCTYPE html>
    <header>
      <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
      <title>CA3 Index</title>
      <style> 
      </style>
      <script>
      </script>
    </header>
    <body>
        <form method=GET action="/addlocation">
          <input type="hidden">
          <button type="submit">
            Add Location
          </button>
        </form>
        <form method=GET action="/browselocations">
          <input type="hidden">
          <button type="submit">
            Browse Location
          </button>
        </form>
        <form method=GET action="/findclosestlocation">
          <input type="hidden">
          <button type="submit">
            Nearest Location
          </button>
        </form>
    </body>
</html>