<!DOCTYPE html>
	<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
		<title>Index</title>
    </head>
    <body>
        <form method="GET" action="/addlocation">
            <button class="button" type="submit" value="Add Location">Add Location</button>
        </form>
        <form method="GET" action="/browselocations">
            <button class="button" type="submit" value="Browse Locations">Browse Locations</button>
        </form>
        <form method="GET" action="/findclosestlocations">
            <button class="button" type="submit" value="Find Closest Locations">Find Closest Locations</button>
        </form>
    </body>
</html>